.card-box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border-radius: 15px; */
  background-color: #fff;
  cursor: default;
}

.card-img-box {
  position: relative;
  width: 100%;
  /* border-radius: 15px 15px 0 0; */
  height: 75%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 15px 15px 0 0; */
}

.card-content-box {
  position: relative;
  width: 100%;
  height: 25%;
  background-color: #f4f2f2;
  padding: 5%;
  /* border-radius: 0 0 15px 15px; */
  box-sizing: border-box;
  cursor: default;
}

.user-info {
  position: relative;
  text-align: left;
  width: 50%;
  height: 20%;
  top: 10%;
  left: 0;
  font-size: 15pt;
  margin-bottom: 8%;
}

.scrap-btn {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 25px;
  height: 25px;
}

.scrap-btn > img {
  width: 100%;
  height: 100%;
}

.scrap-cout-text {
  font-size: 10pt;
  color: rgb(43, 43, 43);
}

.chat-btn {
  position: absolute;
  top: 20%;
  right: 18%;
  width: 30px;
  height: 25px;
}

.chat-btn > img {
  width: 100%;
  height: 100%;
}

.hash-tag-box {
  position: relative;
  text-align: left;
  font-size: 14pt;
  width: 100%;
  height: 70%;
  cursor: default;
}

.hash-tag {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
}

.hash-tag:hover {
  font-size: 16pt;
}
