/* 전체 컨테이너 */
.container {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: default;
}

/* 상단 네비게이션 바 */
.top-nav {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(21, 21, 21);
  box-sizing: border-box;
  padding-top: 1.3vh;
  z-index: 800;
  background-color: #fff;
  cursor: default;
}

/* 로고 영역 */
.top-logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 999;
}

.top-logo-area > a {
  display: block;
  width: 100%;
  height: 100%;
}

.top-logo-area > a > img {
  width: 100%;
  height: 100%;
}

.logo-area-narrow {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 999;
}
.logo-area-narrow > a {
  display: block;
  width: 100%;
  height: 100%;
}

.logo-area-narrow > a > img {
  width: 100%;
  height: 100%;
}
/* 네비게이션 버튼들 */
.top-nav-btns {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: default;

  padding: 2vh 5vw 0.5vh 5vw;
}

.user-box {
  position: relative;
  right: 20px;
  width: 120px;
  top: 20px;
  display: flex;
  gap: 20px;
}

.top-nav-btns > p {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.menu-active-btn {
  padding-top: 2vh;
}

.user-active-btn {
  margin-top: 3px;
  color: rgb(65, 65, 64);
}

.user-active-btn:hover {
  color: rgb(23, 22, 22);
}

.user-logged-in {
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
}

.user-logged-in > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.member-box {
  z-index: 999;
  position: absolute;
  top: 70px;
  right: 25px;
  width: 150px;
  height: 120px;
  border: 1px solid black;
  background-color: #fff;
}

.member-close-btn {
  position: relative;
  top: 5px;
  left: 125px;
  width: 15px;
  height: 15px;
}

.member-close-btn > img {
  width: 100%;
  height: 100%;
}

.write-btn {
  width: 75px;
  height: 50px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.logout-btn-box > button {
  margin-top: 10px;
  font-size: 1em;
  width: 75px;
  height: 30px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.wirte-modal {
  z-index: 999;
  position: absolute;
  background-color: palegreen;
}

/* =================================== */

.menu-active-btn > img {
  object-fit: fill;
}
/* 사이드 메뉴 */
.side-menu-area {
  position: absolute;
  top: 0;
  width: 290px;
  height: 100%;
  cursor: default;
  overflow: hidden;
}

/* 메인 메뉴 박스 */
.main-menu-box {
  position: relative;
  cursor: default;
  z-index: 999;
  position: absolute;
  top: 0;
  width: 180px;
  height: 100%;
  padding-top: 15vh;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid black;
}

/* 메인 메뉴 버튼 */
.main-menu-btns {
  position: relative;
  width: 100px;
  height: 60px;
  font-size: 16pt;
  border: 1px solid black;
  border-radius: 30px;
  margin-bottom: 4vh;
}

.main-menu-btns:hover {
  color: #fff;
  background-color: black;
}

/* 서브 메뉴 박스 */
.sub-menu-box {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 100%;
  font-size: 14pt;
  /* padding-left: 40px; */
  width: 100px;
  box-sizing: border-box;
  transition: visibility 0s, opacity 0.3s ease;
}

.closet-btn:hover .sub-menu-box {
  top: -20px;
  visibility: visible;
  opacity: 1;
  background-color: #fff;
  /* height: 100vh; */
  border: 1px solid black;
  z-index: 999;
  /* border-right: 1px solid black; */
}

/* 서브 메뉴 버튼 */
.sub-menu-btns {
  position: relative;
  right: 0;
  width: 100px;
  height: 50px;
  color: black;
  border-bottom: 1px solid black;
}

.sub-menu-btns:last-child {
  border: none;
}

.sub-menu-btns:hover {
  color: #fff;
  background-color: black;
}

.main-menu-btns > a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 3em;
}

.sub-menu-btns > a {
  text-align: center;
  line-height: 2.5em;
}

.menu-close-btn {
  position: relative;
  top: 600px;
  left: 26%;
  z-index: 999;
  width: 30px;
}

.menu-close-btn > img {
  width: 100%;
}
